/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/

.chartCanvas {
	position: absolute;
	top: 0px;
	left: 0px;
	transform-origin: 50% 50%;
	transition: all 1s ease;
}

.tiny.chartCanvas {
	transform: scale(0);
}

.red.panel {
	background-color: #d64a4a;
}

.green.panel {
	background-color: #2bc62b;
}

.notReady.panel {
	background-color: darkgrey;
}

.bold {
	font-weight: 800;
}

.up.candle {
	stroke: #2f7ed8;
	fill: #2f7ed8;
	opacity: 0.7;
}

.down.candle {
	stroke: #999;
	fill: #999;
	opacity: 0.7;
}

.live.up.candle, .live.down.candle {
	opacity: 1.0;
}

.vertical.guide {
	stroke: grey;
	opacity: 0.2;
}