<template name="Home">

  {{> connections}}

  {{> streams}}

  {{> priceData}}

  {{> charts}}

</template>

<template name="connections">

  <div class="small-6 large-3 columns">
    
    <h1>Connections</h1>
    
    <form id="connectionForm">
      <div class="row collapse">
        <div class="small-9 columns">
          <input type="text" placeholder="URL" id="connectURL">
        </div>
        <div class="small-3 columns">
          <a href="#" class="button postfix" id="connectButton">Connect</a>
          <input type="submit" style="visibility: hidden;">
        </div>
      </div>
    </form>

    {{#if error connection}}
      <div class="rounded callout panel">
        {{error connection}}
      </div>
    {{/if}}

    {{#if liveConnections}}
      <select id="connection">
      {{#each liveConnections}}
        <option value={{_id}}>{{url}}</option>
      {{/each}}
      </select>
    {{/if}}

  </div>

</template>

<template name="streams">

{{#if liveStreams}}

  <div class="small-6 large-3 columns">
    
    <h1>Streams</h1>

    {{#each liveStreams}}
      <div class="stream panel" value={{_id}}><strong>{{ticker}}</strong>,<em>{{delay}}s</em> average delay, <em>{{stdDev}}%</em> vol.</div>
    {{/each}}

    {{#if error stream}}
      <div class="rounded callout panel">
        {{error stream}}
      </div>
    {{/if}}

  </div>

{{/if}}

</template>

<template name="priceData">

{{#if or stream priceSeries}}

  <div class="small-12 large-6 columns">
    
    <h1>Price Data</h1>

    <form id="priceDataForm">
      <div class="row">
        <div class="small-6 columns">
          <label>Ticker</label>
          <input type="text" value={{stream.ticker}} readonly="true"  id="priceDataTicker">
        </div>
        <div class="small-6 columns">
          <label>Interval</label>
          <input type="number" value="10000" step="1000" id="priceDataInterval">
        </div>
        <div class="small-6 columns">
          <label>Max. Candles</label>
          <input type="number" value="25" id="priceDataMaxCandles">
        </div>
        <div class="small-6 columns">
          <label>&nbsp;</label>
          <a href="#" class="button {{#unless streamTicker}}disabled{{/unless}}" id="priceDataButton">Chart Series</a>
          <input type="submit" style="visibility: hidden;">
        </div>
      </div>
    </form>

    {{#each priceSeries}}
      <div class="priceSeries panel {{#unless ready}}notReady{{else}} {{#if up}}green{{/if}} {{#if down}}red{{/if}}{{/unless}}">{{#if ready}}<strong>{{ticker}}</strong>, <span style="font-size: 1.5rem;">{{price}}</span> at {{timeStamp}} ; <em>LATENCY = {{latency}}ms</em>{{else}}<span style="font-size: 1.5rem;"><em>Loading...</em></span>{{/if}}<span class="right bold cancelButton">X</span></div>
    {{/each}}

    {{#if error priceData}}
      <div class="rounded callout panel">
        {{error priceData}}
      </div>
    {{/if}}

  </div>

{{/if}}

</template>

<template name="charts">

    {{#each charts}}
      <div class="small-12 large-6 columns">
        {{> chart}}
      </div>
    {{/each}}

</template>

<template name="chart">

  <span class="right bold cancelButton">X</span>

	<svg xmlns="http://www.w3.org/2000/svg" style="width: 100%; height: {{graphDetails.graphHeight}}" class="chartCanvas">

	  <line x1={{graphDetails.axisGap}} y1={{addAttr graphDetails.graphHeight graphDetails.axisNegGap}} x2={{graphDetails.graphWidth}} y2={{addAttr graphDetails.graphHeight graphDetails.axisNegGap}} stroke="grey" opacity="0.6" />	 

   	  {{#each candleObjects.candles}}
        {{> candle}}
   	  {{/each}}

   	  {{#each candleObjects.checkMarks.y}}
     	 	<line x1=0 y1={{pos}} x2={{graphDetails.graphWidth}} y2={{pos}} stroke="grey" opacity="0.3" />
     	 	<text x=1 y={{addAttr pos graphDetails.halfTextSize}} font-family={{graphDetails.fontFamily}} font-size={{graphDetails.textSize}} color="#444">{{val}}</text>
   	  {{/each}}

      {{#each candleObjects.yAxis}}
        <text x={{addAttr position offset}} y={{addAttr graphDetails.graphHeight -15}} font-family={{graphDetails.fontFamily}} font-size={{graphDetails.textSize}} color="#444">{{label}}</text>
        <line x1={{position}} x2={{position}} y1={{addAttr graphDetails.graphHeight graphDetails.axisNegGap}} y2={{addAttr graphDetails.graphHeight -30}} stroke="grey" opacity="0.6" />
      {{/each}}

     <rect x=0 y={{addAttr candleObjects.lastPriceLevel -8}} width={{graphDetails.graphWidth}} height=16 fill="grey" opacity="0.1" />
     <line x1=0 x2={{graphDetails.graphWidth}} y1={{candleObjects.lastPriceLevel}} y2={{candleObjects.lastPriceLevel}} stroke={{candleObjects.lastTradeColour}} />
     <text x={{addAttr graphDetails.halfWidth -40}} y={{addAttr candleObjects.lastPriceLevel -10}} font-family={{graphDetails.fontFamily}} font-size={{addAttr graphDetails.textSize 5}} font-weight="bold" color="#222">{{candleObjects.lastPrice}}</text>

  </svg>

</template>

<template name="candle">
  <g>
    <title><strong>{{time}}</strong><br>High: {{high}}<br>Low: {{low}}<br>Open: {{open}}<br>Close: {{close}}</title>
    {{#if liveCandleDep}}<line x1={{x}} x2={{x}} y1={{addAttr graphDetails.graphHeight graphDetails.axisNegGap}} y2={{graphDetails.axisGap}} class="vertical guide" />{{/if}}
    <rect x={{bx}} y={{bh}} width={{w}} height={{bl}} class="{{liveCandleDep}} {{#if colour}}up{{else}}down{{/if}} candle" />
    <line x1={{x}} y1={{lh}} x2={{x}} y2={{ll}} class="{{liveCandleDep}} {{#if colour}}up{{else}}down{{/if}} candle" />
  </g>
</template>